@{
    ViewBag.Title = "About Us";
}

<h2 style="padding-left: 1em;">About</h2>
<p style="padding-left: 1em;">

You're a mean one, Mr. Grinch.<br />
You really are a heel.<br />
You're as cuddly as a cactus,<br />
You're as charming as an eel.<br />
Mr. Grinch.<br />
<br />
You're a bad banana<br />
With a greasy black peel.<br />
<br />
You're a monster, Mr. Grinch.<br />
Your heart's an empty hole.<br />
Your brain is full of spiders,<br />
You've got garlic in your soul.<br />
Mr. Grinch.<br />
<br />
I wouldn't touch you, with a<br />
thirty-nine-and-a-half foot pole.<br />
<br />
You're a vile one, Mr. Grinch.<br />
You have termites in your smile.<br />
You have all the tender sweetness<br />
Of a seasick crocodile.<br />
Mr. Grinch.<br />
<br />
Given the choice between the two of you<br />
I'd take the seasick crockodile.<br />
<br />
You're a foul one, Mr. Grinch.<br />
You're a nasty, wasty skunk.<br />
Your heart is full of unwashed socks<br />
Your soul is full of gunk.<br />
Mr. Grinch.<br />
<br />
The three words that best describe you, are as follows, and I quote:<br />
<br />
"Stink! Stank! STUNK!"<br />
<br />
You're a rotter, Mr. Grinch.<br />
You're the king of sinful sots.<br />
Your heart's a dead tomato splotched<br />
With moldy purple spots,<br />
Mr. Grinch.<br />
<br />
Your soul is an apalling dump heap overflowing<br />
with the most disgraceful assortment of deplorable<br />
rubbish imaginable,<br />
Mangled up in tangled up knots.<br />
<br />
You nauseate me, Mr. Grinch.<br />
With a nauseaus super-naus.<br />
You're a crooked jerky jockey<br />
And you drive a crooked hoss.<br />
Mr. Grinch.<br />
<br />
You're a three decker saurkraut and toadstool sandwich<br />
With arsenic sauce!<br />
</p>
